{% extends 'layouts/layout.html' %}

{% block titulo %}Generador de cupones{%endblock%}

{%block style %}
{% load static %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
   
{%endblock%}


{%block contenido %}

 
   <div class="container mt-5">
    <form action="" class="mx-auto w-50 card p-5"  id="formulario" >
        
        <select class="form-select mb-4"  id="empresa" >
            {% for empresa in empresas %}
               <option value="{{empresa.id}}">{{empresa.nombre}}</option>
            {% endfor %}

        </select>


        
        <input type="number" class="form-control mb-4" min="0" max="100" id="valor" placeholder="Valor de descuento en porcentaje">

        <button type="submit" class="btn btn-dark">Generar codigo</button>
        
     </form>
   </div>

{%endblock%}

{%block scripts %}
   {% load static %} 
   <script src="{% static 'js/main.js' %}"></script>
{%endblock%}